body {
    font-family: sans-serif;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#calc-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    column-gap: 7px;
    row-gap: 7px;
    margin-bottom: 10px;
    
}

#display {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 10px;
    border: 1px solid green;
}